body {
  font-family: "Cormorant-Infant", sans-serif;
  line-height: 1.6;
  font-size: 1.6rem;
  color: #333;
  background-color: #fff;
  margin: 0;
}

.navigation {
  text-transform: uppercase;
  background-color: #2e2e2e;
  color: white;
  font-size: 2.5rem;
  padding: 1rem;
  text-align: center;
}

.hero {
  height: 20vh;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}

.menu_pages {
  display: flex;
  gap: 2rem;
  justify-content: center;
  padding: 2rem;
}

.menu_pages__item {
  text-align: center;
  background-color: #f9f9f9;
  padding: 1rem;
  border: 1px solid #ddd;
  transition: transform 0.3s ease;
}

.menu_pages__item:hover {
  transform: scale(1.05);
}